*,*::after::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

/*scrol barr==========*/
::-webkit-scrollbar{
	width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
   background: rgb(112,0,0);
   background: linear-gradient(166deg, rgba(112,0,0,1) 16%, rgba(9,28,121,1) 53%, rgba(255,0,0,1) 100%); 
   border-radius: 100vw;
}

body{
	position: relative;
	width:100%;
	min-height: 100vh;
	overflow-x: hidden;
	background: #200122;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6f0000, #200122);  
	background: linear-gradient(to right, #6f0000, #200122); 
	
}

/* hides humburger munu before it goes down 500px*/
/*===============================================*/
.dontshow{
	z-index: 9999;
	visibility: visible;
	display:flex;
	 flex-direction:column;
	 width:70px;
	 cursor:pointer;
   }
   
   .dontshow span{
	z-index: 9999;
	 background: rgb(255, 255, 255);
	 border-radius:10px;
	 height:7px;
	 margin: 7px 0;
	 transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   } 
   .dontshow span:nth-of-type(1){
	 width:50%;
	 
   }
   .dontshow span:nth-of-type(2){
	 width:100%;
   }
   
   .dontshow span:nth-of-type(3){
	 width:75%;
	
   }
   #check{
	 display:none;
   }
   
   .dontshow input[type="checkbox"]:checked ~ span:nth-of-type(1){
	 transform-origin:bottom;
	 background-color: rgb(255, 255, 255);
	 transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   .dontshow input[type="checkbox"]:checked ~ span:nth-of-type(2){
	 
	 transform-origin:top;
	 background-color: rgb(255, 255, 255);
	 transform:rotatez(-45deg)
   }
   
   
   .dontshow input[type="checkbox"]:checked ~ span:nth-of-type(3){
	 
	 transform-origin:bottom;
	 width:50%;
	 background-color: rgb(255, 255, 255);
	 transform: translate(30px,-11px) rotatez(45deg);
   
}




/*navbar==================================================*/
/*===============================================*/
.navBar{
	position: absolute;
	margin: 0;
	padding: 0;
	top: -0.5rem;
	left:-0.5rem;
    width: 100%;
    height: 3rem;
	display: grid;
	grid-template-columns:auto   ;
	justify-content: center;
	column-gap: 5rem;
	align-items: center;
	
}

.topTracks{
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	outline: 2px solid rgb(0, 0, 0);
}

/*dropdown list for top tracks===================================*/
/*===============================================*/
.topTracks .uli{
	z-index: 99;
	position: absolute;
	left: 5.5rem;
	margin-top: -3.5rem;
	list-style: none;
	width: 7rem;
	cursor: pointer;
	border-radius: 0.5rem;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	outline: 2px solid rgb(0, 0, 0);
}

.liu{
	display: flex;
	margin-top: 0.4rem;
}
.hiden{
     display: none !important;
}

#topTracks{
	font-size: 1.3rem;
	font-family: Copperplate;
	font-weight: bold;

}
/*=========================*/
.Genres{
	border-radius: 0.5rem;
	position: relative;
	cursor: pointer;
	padding: 0.5rem;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	
}
.Genres .Guli{
	border-bottom-left-radius:0.5rem;
	border-top-left-radius:0.5rem;
	z-index: 99;
	position: absolute;
	top:-9rem;
	left: 5.5rem;
	list-style: none;
	width: 5rem;
	cursor: pointer;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	
}

#Genres{
	position: relative;
	cursor: pointer;
	left:1rem;
	font-size: 1.3rem;
	font-family: Copperplate;
	font-weight: bold;
}
.GGuli{
	border-left: 0.2rem solid red;
	border-bottom-right-radius:0.5rem;
	border-top-right-radius:0.5rem;
	z-index: 99;
	position: absolute;
	top:-9rem;
	left: 10rem;
	list-style: none;
	width: auto;
	cursor: pointer;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	
}
/*======================================*/


/*=========================================================*/


/* search button area=========================*/
/*===============================================*/
#search{
	position: relative;
	margin-left: 50%;
	transform: translate(-20%);

}

#inputValue{
	font-family:georgia,serif;
    padding:0.67rem;
    border-radius: 0.5rem;
	outline: none;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
	outline: 2px solid rgb(0, 0, 0);
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
#inputValue:focus{
	font-family:georgia,serif;
    outline: 2px solid rgb(36, 83, 11);
}


#enterBTN{
	font-family:cursive;
	cursor: pointer;
	margin-top: 3.5rem;
	margin-left: 0.2rem;
    padding:0.5rem;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	background: #870000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
	outline: 2px solid rgb(0, 0, 0);
}
/* end of search button area=========================*/



/* top of text area====================================*/
/*===============================================*/
.topText{
	position: relative;
	margin-left: 50%;
	width: 15rem;
	height: 4rem;
	transform: translate(-50%);
	margin-top: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#topText{
	font-family:cursive;
	font-size: 1.4rem;
	font-weight: bolder;
	background: url('123.jpg');
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: topText 10s  alternate infinite;
}
@keyframes topText{
    0%{
		background-position:0% 50% ;
	}
	100%{
		background-position:100% 50% ;
	}
}
/* end top of text area====================================*/


#audio{  
	
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit,21rem)  ;
	justify-content: center;
	
	
}
.box{
	position: relative;
	margin-top: 6rem;
	border-radius: 1.6rem;
	width: 15rem;
	height: 16rem;
	box-shadow: 0px 0px 1rem black,0px 0px 1rem black,
	0px 0px 1rem black;
}

.box img{
	position: absolute;
	width: 15rem;
	height: 16rem;
	z-index: -999;
	border-radius: 1.6rem;

}

audio{
	width: 15rem;
	position: absolute;
	bottom: 0;
	
}
.subtitle{
	display: flex;
	justify-content: center;
	color: white;


}
.title{
    display: flex;
	color: red;
	margin-top:1rem;
	justify-content: center;
}



/*loader area===============================================*/
.center{
	visibility: visible;
	position: absolute;
	left: 50%;
	top: 18rem;
	transform: translate(-50%);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

}
.loader{
	position: absolute;
	width: 9rem;
	height: 9rem;
	background-color: transparent;
	border-radius: 50%;
	animation: loaderAnimation 2s linear infinite;
}
@keyframes loaderAnimation{
  0%{
	  transform: rotate(0deg);
	  box-shadow: 2px 5px 2px rgb(0, 161, 13);
  }
  50%{
	transform: rotate(180deg);
	box-shadow: 2px 5px 2px rgb(22, 0, 146);
	}
  100%{
	transform: rotate(360deg);
	box-shadow: 2px 5px 2px rgb(115, 163, 4);
	}
}


.loader::before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow:  0 0 0.3rem rgb(221, 221, 221);
}
.loaderText{
	cursor: default;
	z-index: 33;
	font-size: 1.4rem;
    color: rgb(0, 0, 0);
}
.loaderText::after{
	position: absolute;
	content: '';
	animation: textAnimation 2s linear infinite;
}
@keyframes textAnimation{
	0%{
		content: '';
	}
	25%{
		content: '.';
	  }
	65%{
		content: '..';
	  }
	100%{
		content: '...';
	  }
  }
/*end of loader area===============================================*/



/*add hamburger for fullscren======================================*/
/*===============================================*/
#search{
	position: relative;
	margin-left: 27%;
	margin-top: -3rem;
	
}
.navBar{
	z-index: 999;
	display: grid;
	grid-template-columns: auto;
	width:100%;
	height:14rem;
	background-color: rgba(0, 0, 0, 0.733);
}

.topTracks .uli{
	top:3.5rem;
	width: 5.5rem;
}
#search{
	position: relative;
	display: grid;
	grid-template-columns: auto  auto;
	justify-content: center;
	align-items: center;
	gap:0.5rem;
}
#inputValue{	
	top: 0;
}
#enterBTN{
	transform: translate(0,-80%);
	top: 3.48rem;
}

#topTracks{
	font-size: 0.9rem;
}
#topAlbums{
	font-size: 0.8rem;
}
#Genres{
	font-size: 0.8rem;
}

.show{
	display: none !important;
	
}
.topText{
	margin-top: 2.7rem;
}/*==============================================*/





/*animate area======================================*/
 
 
/*///////////=/////////////////////////////////////=*/





/*meadia q==============================================*/
/*===============================================*/
@media only screen and (max-width:850px){

	#search{
		position: relative;
		margin-left: 32%;
		
	}
}


@media only screen and (max-width:671px){

	#search{
		position: relative;
		margin-left: 30%;
		
	}
}

@media only screen and (max-width:569px){

	#search{
		position: relative;
		margin-left: 29%;
		
	}
}


/*hamburger menu toogle*/
@media only screen and (max-width:500px){
	#audio{  	
		grid-template-columns:auto;
	}
	
	#search{
		position: relative;
		margin-left: 27%;
		margin-top: -3rem;
		
	}
    .navBar{
		z-index: 999;
		display: grid;
		grid-template-columns: auto;
		width:100%;
		height:14rem;
		background-color: rgba(0, 0, 0, 0.733);
	}
	.topTracks{
		right:3rem;
	}
	.Genres{
		right:3rem;
	}

	.topTracks .uli{
		top:3.5rem;
		width: 5.5rem;
	}
	#search{
		position: relative;
	}
	#inputValue{
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0;
	}
	#enterBTN{
        position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0;
	}



	#topTracks{
		font-size: 0.9rem;
	}
	#topAlbums{
		font-size: 0.8rem;
	}
	#Genres{
		font-size: 0.8rem;
	}
	
	.show{
		display: none !important;
		
	}
	.topText{
		
		margin-top: 6.7rem;
	}
	
}





@media only screen and (max-width:475px){

	#search{
		position: relative;
		margin-left: 26%;
		
	}
}
@media only screen and (max-width:416px){
     
    .topTracks{
		top: 3rem;
		right:5rem;
	}
	.Genres{
		right:5rem;
	}

	#search{
		position: relative;
		margin-left: 25%;
	}
	#inputValue{
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0;
	}
	#enterBTN{
        position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0;
	}
}


